body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.center {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.title {
  font-size: 45px;
  text-align: center;
  color: #000000;
}

.subtitle {
  text-align: center;
  font-size: 30px;
}

.nav-content {
  padding: 20px;
  background-color: #ffffff;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.nav-menu {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display:flex
}

.nav-menu-item {
  letter-spacing: -.32px;
  padding: 6px;
  font-weight: 500;
  transition:color .2s ease-in-out;
  text-decoration: none;
}

.nav-menu-item:hover, .nav-menu-item:focus {
  color:var(--grey-50)
}

.nav-buttons {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display:flex
}

.nav-logo-wrapper {
  width: 128px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  text-decoration: none;
}

.nav-logo {
  width: 140px;
  height: auto;
}

.w-inline-block {
  max-width: 100%;
  display:inline-block
}

.logo-navigation { 
  padding: 24px 0;
  display: flex;
  text-decoration: none;
}

.section-box {
  background-color: #f5f5f5;
  text-align: center;
  padding: 60px;
  margin: 30px;
  border-radius: 20px;
}

.section-content-left {
  background-color: #f5f5f5;
  text-align: left;
  padding: 20px 60px;
  margin: 30px;
  border-radius: 20px;
};

.section-content-center {
  background-color: #f5f5f5;
  padding: 60px;
  margin: 30px;
  border-radius: 20px;
};

.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: auto;
}

.fade {
  animation-name: slideLeft;
  animation-duration: 2s;
}

@keyframes slideLeft {
  from { left: 100%; }
  to { left: 0; }
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 8px;
  cursor: pointer;
}

.active {
  background-color: #717171;
}

.header-container {
  margin-top: 50px;
  align-items: center;
  display: flex;
}

.rounded-bg {
  width: 500px;
  max-width: auto;
  background-color: #303030;
  border-radius: 25px;
  padding: 20px;
}

.preview-image {
  width: 100%;
  height: auto;
  max-width: 800px;
}

.section-container {
  margin-top: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.features-img {
  margin-bottom: 10px;
  width: auto;
  height: auto;
  max-width: 800px; /* maximum width */
  max-height: 500px; /* maximum height */
  -webkit-filter: drop-shadow(0px 5px 10px #444444);
  filter: drop-shadow(0px 5px 10px #343434);
}

.shortcut {
  color: #000000;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 5px;
  padding: 5px;
}

.footer {
  text-align: center;
   padding: 20px;
   background-color: #ffffff;
}

.copyright {
  color: #000000;
}

.hamburger-menu {
  display: none;
}

.menu-icon {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}

@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: flex;
    cursor: pointer;
  }

  .hamburger-menu #closeHam {
    display: none;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .preview-image {
    width: 100%;
    height: auto;
  }

  .features-img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.outer-container {
  background-color: #f5f5f5;
  padding: 120px;
  margin: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center; /* Center the inner container horizontally */
  align-items: center; /* Center the inner container vertically */
}

.inner-container {
  text-align: center; /* Align content inside the inner container */
}

.box {
  text-align: left;
  margin: 30px;
  height: auto;
}

.image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #000000;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

.image-button img {
  width: 20px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
}

.faq-box {
  text-align: left;
}

.faq-container {
  text-align: left;
  width: 600px;
  max-width: 600px;
  margin: 32px auto;
  line-height: 1.9;
}

.faq-container .question-container {
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid #000000;
}

.faq-container .question {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 16px;
  cursor: pointer;
}

.faq-container .question .question-icon {
  width: 20px;
  height: 20px;
  background: #000000;
  padding: 4px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  transition: all 300ms ease;
}

.faq-container .question-container.expanded .question-icon {
  background: #000000;
  transform: rotateZ(45deg);
}

.faq-container .answer {
  margin: 8px;
}

.faq-container .answer-container {
  border-radius: 0 0 15px 15px;
  padding: 16px;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.faq-container .question-container.expanded .answer-container {
  max-height: fit-content;
  padding: 8px 32px;
}

.faq-p {
  line-height: 30px;
}

.faq-cmdtext {
  color: #ffffff;
  background-color: rgba(10, 5, 42, 0.5);
  border-radius: 5px;
  padding: 5px;
}

.faq-tabtext {
  color: #ffffff;
  background-color: rgba(29, 56, 126, 0.5);
  border-radius: 5px;
  padding: 5px;
}

.faq-apptext {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
}