body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #232323;
}

.center {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.title {
  font-size: 45px;
  text-align: center;
  color: #ffffff;
}

.subtitle {
  text-align: center;
  font-size: 30px;
}

.navigation-header {
  background-color: #232323;
  padding: 0 15px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container > a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
}

.navigation-items {
  display: flex;
  gap: 40px;
}

.navigation-items > a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: .4s ease-in-out;
}

.navigation-items > a:hover {
  color: #dddddd;
}

.hamburger {
  display: none;
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
}

.header-container {
  margin-top: 50px;
  align-items: center;
  display: flex;
}

.rounded-bg {
  width: 500px;
  max-width: auto;
  background-color: #303030;
  border-radius: 25px;
  padding: 20px;
}

.preview-image {
  width: 100%;
  height: auto;
  max-width: 800px;
}

.section-container {
  margin-top: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.features-img {
  margin-bottom: 10px;
  width: auto;
  height: auto;
  max-width: 800px; /* maximum width */
  max-height: 500px; /* maximum height */
  -webkit-filter: drop-shadow(0px 5px 10px #444444);
  filter: drop-shadow(0px 5px 10px #343434);
}

.faq-summary {
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
}

.faq-details {
  text-align: left;
  margin-bottom: 10px;
}

.faq-p {
  padding-left: 20px;
  line-height: 30px;
}

.faq-cmdtext {
  color: #ffffff;
  background-color: rgba(10, 5, 42, 0.5);
  border-radius: 5px;
  padding: 5px;
}

.faq-tabtext {
  color: #ffffff;
  background-color: rgba(29, 56, 126, 0.5);
  border-radius: 5px;
  padding: 5px;
}

.faq-apptext {
  color: #ffffff;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 5px;
  padding: 5px;
}

.shortcut {
  color: #ffffff;
  background-color: rgba(87, 87, 87, 0.5);
  border-radius: 5px;
  padding: 5px;
}

.footer {
  text-align: center;
   padding: 20px;
   background-color: #232323;
}

.copyright {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    cursor: pointer;
  }

  .hamburger #closeHam {
    display: none;
  }

  .navigation-items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .preview-image {
    width: 100%;
    height: auto;
  }

  .features-img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

